// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ideas {
  list-style-type: none;
}

.idea {
  background: #fff;
  width: 223px;
  float: left;
  margin-right: 20px;
  border-style: dotted solid;
  border-width: 1px;
  height: 157px;
  margin-bottom: 20px;
  padding: 20px;
}

