// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg_color: #fff;
$text_color: #d3360b;

body{
  margin: 0;
  background: $bg_color;
  font-family: "Helvetica", "OpenSans", Arial;
}

.container {
  width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
}

h1, h2, h3, h4 {
  margin: 0;
  color: #000;
}

th {
  color: $text_color;
}

.ideas {
  list-style-type: none;
}

.idea {
  background: #fff;
  width: 223px;
  float: left;
  margin-right: 20px;
  border-style: dotted solid;
  border-width: 1px;
  height: 157px;
  margin-bottom: 20px;
  padding: 20px;
}

li {
  list-style-type: none;
}

a {
  color: $text_color;
}
