<footer style='background:#f4f4f4;padding:50px'>
<div class='container' style='width:960px;margin:0 auto;background:transparent'>
<p style='text-align:center'><span style='color:red'><3</span> Made with love by Girls</p>
</div>
</footer>
