<a href="https://github.com/carlasouza/railsgirls-projects"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<header style='background:#d3360b;padding:25px'>
<div class='container' style='width:960px;margin:0 auto;background:transparent'>
      <div class="container_12">
        <a style='color:#fff; font-size:42px;text-decoration:none' id="logo" href="/"><img src="//railsgirls.com/images/railsgirls-logo.png" alt="Rails Girls" /> Ideas</a>
      </div>
</div>
</header>
